body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: black;
}

.masthead {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  background-color: #005387;
}

.navbar-brand {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  color: #e2f754;
}

.navbar-nav {
  justify-content: flex-end;
}

.masthead {
  min-height: 40vh;
  background-position: center;
}

.post-heading {
  margin-top: 10rem;
}

.post-link {
  text-decoration: none;
  color: black;
}

.post-link:hover {
  text-decoration: none;
  color: #005387;
}

.btn-like,
.btn-dislike {
  border: none;
  background: transparent;
}

.btn-outline-success {
  color: #e2f754;
  border-color: #e2f754;
}

.btn-outline-success:hover {
  color: #e2f754;
  background-color: #005387;
  border-color: #e2f754;
  ;
}