body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: black;
}

.navbar-brand {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  color: black;
}

.navbar-nav {
  justify-content: flex-end;
}

.masthead {
  min-height: 40vh;
  background-position: center;
}

.post-heading {
  margin-top: 10rem;
}