{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  {% if request.user == comment.author %}
  <div class="row">
    <div class="col-md-8 my-4">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <p>Are you sure you want to delete the comment "{{ comment.body }}"?</p>
        {{ form }}
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>
      <a href="{% url 'post_view' comment.post.slug %}" class="btn btn-light">Back to Posts</a>
    </div>
  </div>
  {% endif %}
</div>

{% endblock content %}