{% extends "base.html" %}

{% block content %}
<!-- Hero -->
<div class="p-5 text-center" style="
    background-image: url('https://res.cloudinary.com/dv6cgny0t/image/upload/v1656354800/static/default_image_tvvwpp.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex p-5 justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Welcome to PadelCourtR</h1>
                <h4 class="mb-3">Rate and comment on your favorite padel courts!</h4>
                {% if not user.is_authenticated %}
                <a class="btn btn-outline-success btn-lg" href="{% url 'account_signup' %}" role="button">Get an account
                    now!</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Hero -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-auto h-100">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.court_image.url %}
                                <img src="https://res.cloudinary.com/dv6cgny0t/image/upload/v1656354800/static/default_image_tvvwpp.jpg"
                                    alt="" class="card-img-top" style="height: 300px; object-fit: cover; object-position: center;">
                                {% else %}
                                <img src="{{ post.court_image.url }}" alt="" class="card-img-top" style="height: 300px; object-fit: cover; object-position: center;">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author text-muted">Post by: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_view' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.fragment }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6 mb-0">{{ post.created_on }} <i
                                    class="fa-solid fa-thumbs-up"></i>{{ post.number_of_likes }} <i
                                    class="fa-solid fa-thumbs-down"></i> {{ post.number_of_dislikes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_numer }}">Previous</a>
            </li>
            {% endif %}
            {% if page_obj.has_other_pages %}
            <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} of
                    {{ page_obj.paginator.num_pages }}</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_numer }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


{% endblock %}